# Pyber Ride Sharing

In [10]:
# Dependencies
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sns 

# Read CSV and Clean data
ride_data    = pd.read_csv('../Pyber/raw_data/ride_data.csv')
ride_data['ride_id'].value_counts() # check for duplicates => 'None Found'

city_data    = pd.read_csv('../Pyber/raw_data/city_data.csv')
city_data['city'].value_counts() # check for duplicates => 'Port James'
driver_total = city_data.groupby('city').sum() # sum driver_count to remove duplicates
dedup_data   = city_data[['city', 'type']].drop_duplicates().set_index('city') # remove extra city values

city_data    = {'driver_count': driver_total['driver_count'],
             'type':         dedup_data['type']}

city_data    = pd.DataFrame(city_data).reset_index().rename(columns={'index': 'city'})

# Merge DataFrames
pyber_data = pd.merge(city_data, ride_data)
pyber_data.head()

,city,driver_count,type,date,fare,ride_id
0,Alvarezhaven,21,Urban,2016-04-18 20:51:29,31.93,4267015736324
1,Alvarezhaven,21,Urban,2016-08-01 00:39:48,6.42,8394540350728
2,Alvarezhaven,21,Urban,2016-09-01 22:57:12,18.09,1197329964911
3,Alvarezhaven,21,Urban,2016-08-18 07:12:06,20.74,357421158941
4,Alvarezhaven,21,Urban,2016-04-04 23:45:50,14.25,6431434271355